<div class="buttons panel">
  <ul class="menu_items">
    <%= render('pageflow/outline_navigation_bar/widget/home_button', home_button: entry.home_button) %>

    <li class="top buttons_menu_item menu_item">
      <%= link_to("##{entry.pages.first.try(:perma_id)}", tabindex: '2', title: t('pageflow.public.goto_first_page')) do %>
        <span class="button"></span>
        <span class="label"><%= t('pageflow.public.first_page') %></span>
      <% end %>
    </li>

    <%= render('pageflow/outline_navigation_bar/widget/overview_button', overview_button: entry.overview_button) %>

    <li class="fullscreen buttons_menu_item menu_item">
      <a tabindex="2" title="<%= t('pageflow.public.enter_fullscreen') %>" data-active-title="<%= t('pageflow.public.leave_fullscreen') %>">
        <span class="button"></span>
        <span class="label"><%= t('pageflow.public.fullscreen') %></span>
      </a>
    </li>
    <li class="hide_text buttons_menu_item menu_item">
      <a tabindex="2" title="<%= t('pageflow.public.hide_text') %>" data-active-title="<%= t('pageflow.public.show_text') %>">
        <span class="button"></span>
        <span class="label"><%= t('pageflow.public.hide_text') %></span>
      </a>
    </li>

    <li class="volume buttons_menu_item menu_item">
      <div class="navigation_volume_box" title="<%= t('pageflow.public.volume') %>">
        <div class="volume-control">
          <div class="volume-slider">
            <div class="volume-level" style="width: 100%;"><span class="volume-control-text"></span></div>
            <div class="volume-handle" style="left: 100%;"></div>
          </div>
        </div>
      </div>
    </li>

    <li class="share buttons_menu_item menu_item" tabindex="2">
      <div class="menu_box share_box navigation_share_box">
        <div class="share_box_icons">
          <% entry.active_share_providers.each do |provider| %>
            <div class="menu_item share_<%= provider %>">
              <%= render("pageflow/entries/share_menu/#{provider}_link", entry: entry) %>
            </div>
          <% end %>
        </div>
        <div class="sub_share">
          <a tabindex="2" target="_blank"><%= t('pageflow.public.share_this_entry') %></a>
          <a tabindex="2" target="_blank"><%= t('pageflow.public.share_this_page') %></a>
        </div>
      </div>
      <a title="<%= t('pageflow.public.share') %>">
        <span class="navigation_bg navigation_share button"></span>
        <span class="label"><%= t('pageflow.public.share') %></span>
      </a>
    </li>

    <li class="credits buttons_menu_item menu_item" tabindex="2">
      <div class="menu_box credits_box">
        <%= render 'pageflow/entries/navigation/credits_box_content', :entry => entry %>
      </div>
      <a title="<%= t('pageflow.public.imprint') %>">
        <span class="button"></span>
        <span class="label"><%= t('pageflow.public.imprint') %></span>
      </a>
    </li>
  </ul>
</div>
